:root,
[data-bs-theme=dark] {
    --bs-body-bg: #40506a;
    --bs-body-bg-rgb: 64, 80, 106;
    --bs-secondary-bg: #36445a;
    --bs-secondary-bg-rgb: 54, 68, 90;
    --bs-tertiary-bg: #2a3950;
    --bs-tertiary-bg-rgb: 42, 57, 80;
    --bs-border-radius: 0;
    --bs-border-color: var(--bs-primary);
    --bs-primary-color-contrast: #2a3950;
}

body {
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
}

.btn {
    font-weight: bold;
}

.page-container::before,
.page-container::after {
    width: 100%;
    height: 205px;
    content: "";
    display: block;
    background-position: center;
    background-position-y: 0;
    background-size: cover;
}

.page-container::before {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201030%20160%22%3E%3Cpath%20fill%3D%22%232a3950%22%20d%3D%22M0%20160%20754%200l276%20160H0Z%22%2F%3E%3C%2Fsvg%3E%0A');
}

.page-container::after {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201030%20160%22%3E%3Cpath%20fill%3D%22%232a3950%22%20d%3D%22m1030%20.002-754%20160L0%20.002h1030Z%22%2F%3E%3C%2Fsvg%3E%0A');
}

h1 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
}

h1::after {
    position: absolute;
    display: table;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 4px;
    bottom: -10px;
    border-radius: 2px;
    background-color: var(--bs-primary);
    content: "";
    clear: both;
}

.header {
    position: relative;
    min-height: 400px;
}

.lime-home .header {
    min-height: 650px;
}

.lime-home .header-title {
    margin-top: 7rem;
}

.header::before {
    position: absolute;
    background-color: rgba(46, 44, 71, 0.7);
    content: "";
    z-index: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.header::after {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 200px;
    content: "";
    display: block;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201280%20268%22%3E%3Cpath%20fill%3D%22%23f4f4f8%22%20d%3D%22m0%200%20401%20160.001%20879-160v268H0v-268Z%22%2F%3E%3C%2Fsvg%3E%0A');
    background-position: center;
    background-position-y: 0;
    background-size: cover;
}

.navbar {
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201150%2080%22%3E%3Cpath%20fill%3D%22%232a3950%22%20d%3D%22m0%200%2040%2080h1070l40-80H0Z%22%2F%3E%3C%2Fsvg%3E%0A') center / cover;
}

.navbar .navbar-nav .nav-link.active,
.navbar .dropdown-toggle::after {
    color: var(--bs-primary);
}

.navbar .nav-item {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.navbar .nav-item .nav-link {
    color: #fff;
    text-transform: uppercase;
}

.footer {
    position: relative;
}

.footer::before {
    width: 100%;
    height: 225px;
    content: "";
    display: block;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201280%20268%22%3E%3Cpath%20fill%3D%22%2336445a%22%20d%3D%22m0%20.004%20401%20160%20879-160v268H0v-268Z%22%2F%3E%3C%2Fsvg%3E%0A');
    background-position: center;
    background-position-y: 0;
    background-size: cover;
}
